In [7]:
from sklearn.datasets import load_wine 
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
import pandas as pd
data=pd.read_csv("实验数据.csv")
data

/usr/local/Caskroom/miniconda/base/envs/geospatial/lib/python3.12/site-packages/IPython/core/formatters.py:347: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return None

       ID         面积     周长  暴雨    比降  断层    岩性  最大高程  最小高程   相对高差  主沟长度
0    T001   65924920  37022  58  0.79   1  4380  1557  2823  12031   235
1    T002   30245122  26890  57  0.79   1  4520  1557  2963  10973   270
2    T003   45788150  31986  57  0.85   2  4640  1549  3091  11612   266
3    T004  105370617  50908  72  0.78   3  5120  1620  3500  17338   202
4    T005   10352295  14824  62  0.85   1  4220  1561  2659   5731   464
..    ...        ...    ...  ..   ...  ..   ...   ...   ...    ...   ...
195  T196   29774013  28883  88  0.82   0  2260   658  1602  10619   151
196  T197   35432134  27258  68  0.79   1  2293   658  1635   9994   164
197  T198   16602244  27193  68  0.80   0  2180   658  1522  10555   144
198  T199   13953579  19401  72  0.78   3  2368   659  1709   6507   263
199  T200   13371995  20438  72  0.84   3  2501   659  1842   8051   229

[200 rows x 11 columns]

In [10]:
import matplotlib as plt
import numpy as np
#fig1=plt.figure

data["岩性"]

#plt.plot(X[:,0][y==0],X[:1])

def classify(data):
    data

0      4380
1      4520
2      4640
3      5120
4      4220
       ...
195    2260
196    2293
197    2180
198    2368
199    2501
Name: 岩性, Length: 200, dtype: int64

In [ ]:
def predict_each_value(x,y,cls):
    x1_min,x2_min=np.min(x,axis=0)-1
    x1_max,x2_max=np.max(x,axis=0)+1
    x1,x2=np.meshgrid(np.arange(x1_min,x1_max,0.01),\
        np.arange(x2_min,x2_max,0.01))
    CLS=cls.predict(np.transpose(np.array([X1.ravel(),\
                                           X2.ravel()]))).reshape(x1.shape)
    plt.figure()
    plt.contour(X1,X2,CLS)
    plt.xlim(x1_min,x1_max)
    plt.ylim(x2_min,x2_max)